/* my css styles */

.box {
    display: flex;
    gap: 10px;
    
}


.right, .left {
    border: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    
}