/* my css styles */

.box {
    display: flex;
    gap: 10px;
    
}


.right, .left {
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
    
}