/* my css styles */

.box {
    display: flex;
    gap: 10px;
    
}


.right, .left {
    border: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}